.flickContainer {
    width: 1700px;
    margin: auto;
}

.cardContainer {
    width: 530px;
    padding: 20px 10px 20px 0;
    display: inline-block;
    margin: 40px 10px;
    overflow-x: hidden;
    font-family: "Arial Nova";
    background-color: white;
}

.searchBarContainer {
    position: fixed;
    width: 100%;
    right: 0;
    top:0;
    height: 100px;
    background-color: white;
}

.searchBar {
    width: 500px;
    margin-top: 10px;
    background-color: white;
    float: right;
}

.searchBar input {
    padding: 20px 10px 10px 20px;
}
.searchBar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: crimson;
    opacity: 1; /* Firefox */
}

.searchBar input, .searchBar div {
    display: inline-block;
}

input {
    padding-top: 20px;
    border: none;
    border-bottom: 5px solid crimson;
    color: crimson;
    font-size: 2em;
}

input:focus{
    border: none;
    border-bottom: 5px solid crimson;
    outline: none;
}

.searchBar div {
    width: 60px;
    height: 60px;
    margin-bottom: -16px;
    margin-left: 15px;
    background-image: url("./../../image/search-icon-red-md.png");
    background-size: cover;
    cursor: pointer;
}

.loadMoreBtn {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 85px;
    background-color: crimson;
    color: white;
    margin: auto;
    border: none;
    cursor: pointer;
}

.loadMoreBtn:focus {
    outline: none;
}

.loadMoreContainer {
    width: 300px;
    margin: auto;
    padding-bottom: 40px;
}

@media only screen and (max-width: 1800px) {
    .flickContainer {
        width: 1200px;
        margin: auto;
        padding-left: 80px;
        background-color: darkgrey;
    }
}

@media only screen and (max-width: 1220px) {
    .flickContainer {
        width: 700px;
        margin: auto;
        padding-left: 160px;
        background-color: darkgrey;
    }
}


@media only screen and (max-width: 870px) {
    .flickContainer {
        width: 700px;
        margin: auto;
        padding-left: 140px;
        background-color: darkgrey;
    }
}